:root {
  --primary-blue: #1a237e;
  --secondary-blue: #3949ab;
  --accent-blue: #2fa1ff;
  --light-bg: #f4f7fb;
  --white: #fff;
  --gray: #545b67;
  --border-radius: 14px;
  --shadow: 0 8px 32px rgba(30, 41, 59, 0.14);
  --error: #d64045;
}

/* Centrado vertical y horizontal */
.login-wrapper {
  height: 80dvh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  margin-top: 10%;
  border-radius: var(--border-radius);
}
.login-image {
  display: flex;
  align-items: center;
  height: 90dvh;
  width: 15dvw;
  position: relative;
  left: -10dvw;


}
.company-logo {
  height: 30dvh;
  transform: rotate(-90deg);
  object-fit: fill;
}
/* Tarjeta de login */
.login-card {
  background: var(--white);
  border-radius: var(--border-radius);
  max-width: 400px;
  width: 100%;
  padding: 36px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Encabezado */
.card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-blue);
  margin-bottom: 8px;
}

.login-subtitle {
  font-size: 15px;
  color: #7a7e87;
  margin-bottom: 18px;
}



/* Formulario */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 18px;
  width: 100%;
}

.form-label {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
}

.form-control {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  color: var(--gray);
  background: var(--light-bg);
  border: 1.5px solid #cfd8dc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.form-control:focus {
  border-color: var(--secondary-blue);
  background: var(--white);
  box-shadow: 0 0 0 3px rgba(57, 73, 171, 0.1);
}

.login-button {
  background: var(--secondary-blue);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  width: 95%;
}

.login-button:hover {
  background: var(--primary-blue);
  transform: translateY(-2px);
}

/* Mensajes de error y éxito */
.error-message {
  color: var(--error);
  background: #fdebec;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 14px;
  text-align: center;
  font-weight: 500;
}

/* Footer links */
.login-footer-links {
  display: flex;
  justify-content: end;
  margin-top: 18px;
  font-size: 13px;
  width: 100%;
}

.login-footer-links a {
  color: var(--secondary-blue);
  text-decoration: none;
  transition: color 0.2s;
}

.login-footer-links a:hover {
  color: var(--primary-blue);
}
